In [1]:
import pandas as pd

# Read in faculty21-22 data from csv

In [38]:
df21 = pd.read_csv('21-22/faculty21-22.csv')
df21.drop("Unnamed: 0", inplace=True, axis=1)

In [39]:
df21

,last,first,middle,title,degrees,leave,visiting
0,daniel,aalberts,p.,kennedy p. richardson '71 professor of physics,"1989, b.s., massachusetts institute of technol...",s,0
1,tomas,adalsteinsson,NaN,assistant professor of physical education and ...,"2011, m.a., john f. kennedy university",n,0
2,colin,adams,c.,thomas t. read professor of mathematics,"1978, b.s., massachusetts institute of technol...",n,0
3,zaid,adhami,NaN,assistant professor of religion and faculty af...,"2010, b.a., stanford university, 2010, m.a., s...",n,0
4,efrain,agosto,NaN,croghan bicentennial professor in biblical and...,"1977, b.a., columbia university, 1982, m.div.,...",n,0
...,...,...,...,...,...,...,...
411,kasumi,yamamoto,NaN,frank m. gagliardi professor of japanese,"1980, b.a., aoyama gakuin university, 1985, m....",y,0
412,li,yu,NaN,"chair of asian languages, literatures, and cul...","1994, b.a., east china normal university, 1997...",n,0
413,safa,zaki,r.,"dean of the faculty, class of 1924 professor o...","1989, b.a., american university in cairo, 1993...",n,0
414,sofia,zepeda,e.,assistant professor at williams-mystic,"2008, b.a., university of california, santa cr...",n,0
415,david,zimmerman,j.,professor of economics and orrin sage professo...,"1985, b.a., university of toronto, 1987, m.a.,...",n,0

# Read in faculty 20-21 data from csv

In [99]:
df20 = pd.read_csv('20-21/faculty20-21.csv')
df20.drop("Unnamed: 0", inplace=True, axis=1)

# convert entire df to lowercase
df20 = df20.apply(lambda x: x.astype(str).str.lower())

# add desired columns 
first = []
middle = []
last = []
visiting = []
for i in range(0, len(df20)): 
    df20.name.iloc[i] = df20.name.iloc[i].split(" ", maxsplit=2)
    if (len(df20.name.iloc[i]) == 3): 
        first.append(df20.name.iloc[i][0])
        middle.append(df20.name.iloc[i][1])
        last.append(df20.name.iloc[i][2])
    elif (len(df20.name.iloc[i]) == 2): 
        first.append(df20.name.iloc[i][0])
        middle.append(None)
        last.append(df20.name.iloc[i][1])
        
    if ("visiting" in df20.title.iloc[i]): 
        visiting.append(1)
    else: 
        visiting.append(0)
        
df20['first'] = first
df20['middle'] = middle
df20['last'] = last 
df20['visiting'] = visiting

# Read in faculty 19-20 data from csv

In [103]:
df19 = pd.read_csv('19-20/faculty19-20.csv')
df19.drop("Unnamed: 0", inplace=True, axis=1)

# convert entire df to lowercase
df19 = df19.apply(lambda x: x.astype(str).str.lower())

# add desired columns 
first = []
middle = []
last = []
visiting = []
for i in range(0, len(df19)): 
    df19.name.iloc[i] = df19.name.iloc[i].split(" ", maxsplit=2)
    if (len(df19.name.iloc[i]) == 3): 
        first.append(df19.name.iloc[i][0])
        middle.append(df19.name.iloc[i][1])
        last.append(df19.name.iloc[i][2])
    elif (len(df19.name.iloc[i]) == 2): 
        first.append(df19.name.iloc[i][0])
        middle.append(None)
        last.append(df19.name.iloc[i][1])
    else: 
        print(df19.name.iloc[i])
        print(i)
        break
        
    if ("visiting" in df19.title.iloc[i]): 
        visiting.append(1)
    else: 
        visiting.append(0)
        
df19['first'] = first
df19['middle'] = middle
df19['last'] = last 
df19['visiting'] = visiting

['zimbabwe']
275

ValueError: Length of values (275) does not match length of index (436)

In [98]:
df19

,name,title,degrees,leave
0,daniel p. aalberts,kennedy p. richardson '71 professor of physics,"1989, b.s., massachusetts institute of technol...",n
1,tomas adalsteinsson,assistant professor of physical education and ...,"2011, m.a., john f. kennedy university",n
2,colin c. adams,thomas t. read professor of mathematics,"1978, b.s., massachusetts institute of technol...",y
3,zaid adhami,assistant professor of religion and faculty af...,"2010, m.a., stanford university, 2010, b.a., s...",f
4,jeannie r albrecht,professor of computer science,"2001, b.s., gettysburg college, 2003, m.s., du...",y
...,...,...,...,...
431,safa r. zaki,dean of the faculty,"professor of psychology, 1989, b.a., american ...",n
432,liya zalaltdinova,visiting lecturer in russian,"2019, ph.d., state university of new york at a...",n
433,sofia e. zepeda,assistant professor at williams-mystic,"2008, b.a., university of california, santa cr...",n
434,david j. zimmerman,professor of economics and orrin sage professo...,"1985, b.a., university of toronto, 1987, m.a.,...",s
435,charles u. zug,visiting assistant professor of leadership stu...,"2015, b.a., st. john's college, 2017, m.a., un...",n