In [1]:
import pandas as pd 
from pathlib import Path  
import numpy as np

In [12]:
# df = pd.read_csv("nescac_tidy.csv")
df = pd.read_csv("TrinityFinal.csv")

In [10]:
names = df.Name

In [22]:
first = []
middle = []
last = []

for name in names:
    
    name = str(name)
    
    split = name.split(maxsplit=2)
    
    if (len(split) == 3): 
        first.append(split[0])
        middle.append(split[1])
        last.append(split[2])
    elif (len(split) == 2): 
        first.append(split[0])
        middle.append(None)
        last.append(split[1])
    else: 
        print(split)
        first.append(None)
        middle.append(None)
        last.append(None)

['Instructors']
['nan']

In [23]:
len(first) == len(last) == len(middle) == len(names)

True

In [24]:
df['First'] = first
df['Middle'] = middle
df['Last'] = last

In [25]:
df.head()

,Unnamed: 0,College,Year,Name,Department,Position,Tenured?,Visiting?,Title,Education,First,Middle,Last
0,1,Trinity,2013,?ngela Morales,Culture Studies,Lecturer,N,Y,"?ngela Morales, Visiting Lecturer in Language ...","B.A. 1986 (Universidad Autonoma de Madrid, Sp...",Angela,None,Morales
1,2,Trinity,2017,A. Stephen Lanza,Human Rights,Lecturer,N,Y,"A. Stephen Lanza, Visiting Lecturer in Human R...","B.A. 1976, M.A. 1992 (Univ. of Connecticut) [",A.,Stephen,Lanza
2,3,Trinity,2021,Aaron Foote,Sociology,Assistant Prof.,N,Y,"Aaron Foote, Visiting Assistant Professor of S...","B.A. 2012 (Michigan State Univ.), M.A. 2016, ...",Aaron,None,Foote
3,4,Trinity,2018,Aaron Hochheiser,Theater and Dance,Lecturer,N,Y,"Aaron Hochheiser, Visiting Lecturer in Theater...",B.A. 2003 (Univ. at Albany-SUNY) [,Aaron,None,Hochheiser
4,5,Trinity,2019,Aaron Hochheiser,Theater and Dance,Lecturer,N,Y,"Aaron Hochheiser, Visiting Lecturer in Theater...",B.A. 2003 (Univ. at Albany-SUNY) [,Aaron,None,Hochheiser

In [26]:
# filepath = Path('/users/laurenmccarey/math308/nescac_split_names.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
# df.to_csv(filepath)

In [27]:
filepath = Path('/users/laurenmccarey/math308/trinity_split_names.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)