In [55]:
import pandas as pd 
from pathlib import Path  
import numpy as np

In [49]:
df = pd.read_csv("nescac_tidy.csv")

In [50]:
names = df.Name

In [51]:
first = []
middle = []
last = []

for name in names: 
    name = str(name)
    split = name.split(maxsplit=2)
    
    if (len(split) == 3): 
        first.append(split[0])
        middle.append(split[1])
        last.append(split[2])
    elif (len(split) == 2): 
        first.append(split[0])
        middle.append(None)
        last.append(split[1])
    else: 
        print(split)
        first.append(None)
        middle.append(None)
        last.append(None)

['instructors']
['nan']

In [52]:
len(first) == len(last) == len(middle) == len(names)

True

In [53]:
df['First'] = first
df['Middle'] = middle
df['Last'] = last

In [54]:
df.head()

,College,Year,Name,Department,Position,Title,Tenured?,Visiting?,Leave,Education,Entire Line,First,Middle,Last
0,Trinity,2013,angela morales,culture studies,lecturer,visiting lecturer in language and culture stud...,N,Y,NaN,"b.a. 1986 (universidad autonoma de madrid, spa...",NaN,angela,None,morales
1,Bowdoin,2010,a. myrick freeman iii,william d.,other,"a. myrick freeman iii, a.b. (cornell), a.m., p...",N,N,NaN,"a.b. (cornell), a.m., ph.d. (washington)",NaN,a.,myrick,freeman iii
2,Bowdoin,2011,a. myrick freeman iii,william d.,other,"a. myrick freeman iii, a.b. (cornell), a.m., p...",N,N,NaN,"a.b. (cornell), a.m., ph.d. (washington)",NaN,a.,myrick,freeman iii
3,Trinity,2017,a. stephen lanza,human rights,lecturer,"visiting lecturer in human rights; b.a. 1976, ...",N,Y,NaN,"b.a. 1976, m.a. 1992 (univ. of connecticut) [",NaN,a.,stephen,lanza
4,Hamilton,2007,a. todd franklin,philosophy,associate prof.,associate professor of philosophy,Y,N,NaN,"ph.d., stanford university",NaN,a.,todd,franklin

In [56]:
filepath = Path('/users/laurenmccarey/math308/nescac_split_names.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)