In [1]:
import pandas as pd 
from pathlib import Path  
import numpy as np

In [5]:
# df = pd.read_csv("nescac_tidy.csv")
# df = pd.read_csv("TrinityFinal.csv")
df = pd.read_csv("BowdoinFinalFinal.csv")

In [6]:
names = df.Name

In [7]:
first = []
middle = []
last = []

for name in names:
    
    name = str(name)
    
    split = name.split(maxsplit=2)
    
    if (len(split) == 3): 
        first.append(split[0])
        middle.append(split[1])
        last.append(split[2])
    elif (len(split) == 2): 
        first.append(split[0])
        middle.append(None)
        last.append(split[1])
    else: 
        print(split)
        first.append(None)
        middle.append(None)
        last.append(None)

['Pggjdfst!pg!Jotusvdujpo']
['Pggjdfst!pg!Jotusvdujpo']
['Pggjdfst!pg!Jotusvdujpo']
['Pggjdfst!pg!Jotusvdujpo']
['Pggjdfst!pg!Jotusvdujpo']
['Pggjdfst!pg!Jotusvdujpo']

In [8]:
len(first) == len(last) == len(middle) == len(names)

True

In [9]:
df['First'] = first
df['Middle'] = middle
df['Last'] = last

In [10]:
df.head()

,Unnamed: 0,College,Year,Name,Department,Position,Tenured?,Visiting?,Title,Education,On leave?,First,Middle,Last
0,1,Bowdoin,2018,Aaron W. Kitch,English,Associate Prof.,Y,N,Associate Professor of English,"BA (Yale), MA (Colorado–Boulder), PhD (Chicago)",Y,Aaron,W.,Kitch
1,2,Bowdoin,2017,Aaron W. Kitch,English,Associate Prof.,Y,N,Associate Professor of English,"BA (Yale), MA (Colorado–Boulder), PhD (Chicago)",N,Aaron,W.,Kitch
2,3,Bowdoin,2016,Aaron W. Kitch,English,Associate Prof.,Y,N,Associate Professor of English,"B.A. (Yale), M.A. (Colorado–Boulder), Ph.D. (...",N,Aaron,W.,Kitch
3,4,Bowdoin,2015,Aaron W. Kitch,English,Associate Prof.,Y,N,Associate Professor of English,"B.A. (Yale), M.A. (Colorado–Boulder), Ph.D. (...",N,Aaron,W.,Kitch
4,5,Bowdoin,2014,Aaron W. Kitch,English,Associate Prof.,Y,N,Associate Professor of English,"B.A. (Yale), M.A. (Colorado–Boulder), Ph.D. (...",N,Aaron,W.,Kitch

In [11]:
# filepath = Path('/users/laurenmccarey/math308/nescac_split_names.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
# df.to_csv(filepath)

In [12]:
# filepath = Path('/users/laurenmccarey/math308/trinity_split_names.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
# df.to_csv(filepath)

In [13]:
filepath = Path('/users/laurenmccarey/math308/bowdoin_split_names.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)